language: python
python:
  - "3.5"
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
  - python -m spacy download en
# command to run tests
script:
  - pytest # or py.test for Python versions 3.5 and below
