language: python
python:
  - "3.5"
  - "3.6"

# command to install dependencies
install:
  - pip install -r requirements.txt
  - python -m spacy download en

# command to run tests
script:
  - pytest

deploy:
  provider: pypi
  user: mholtzscher
  password:
    secure: vCxjgb1/+M5UUhcSBKLbkTOJBdposWIEjQZ3yv0UXAkgvUYZ7CvhDxP3Kv35bQ/TbCD3V8//Nceqvzi/CVRZD+Kil60WsJUlFXJn7UNxTRwtM/XctALetKgUellogQKmCblZB0HZdVyGyJjZoVNOuQFhq/0fI4nPyNAFQtHSJdub6syodBDzasnNNAfunSkM0av3yU1zFKltt/u/4bowMe4BwN+CXZdiR3wBf75DzGAqa8OFJhvFOxcNm51/k5XlmIGSvzd4HWFfrKdmCXVFWWk/qMm9i4QCsDHgyih+I6X45+yRFyxqasQAnMIC95g11c0HE/aOpRt52TIN+GIUVWm/acNJBdrluH4nGNFdpcU4p17bX2g99zbdCh8OqjBSwI5Qh5+yJxcGoCJUKLtUucPUFQwfzjXrU44crDM/OcI4efbEmTiQS/NtHG7fjiNs+Jwe/2ggEMk/7DHzoFKkOwp5+08zfKzOSamXnpdoXDt7jES0qUZV+8amMDG+ksEo4j7/LEUZ/x/3mZa31CCpg6lBnmPFysBncUJ3mqrL42bHE3MlmeMUjRKpR15Eq739m0k7U/QVi+A2+UmmXbJzvxV9pWXxzjE3hPG7IOLrGLxcxiEe83+uQfkHXxW7k6so3QEfcfiAi0q9NKz92EjzblTL4TKTZRv1qt1IbrO2iDo=
  on:
    tags: true