language: python

stages:
  - black
  - mypy
  # - pylint
  - test

cache:
  pip: true
  directories:
    - "$HOME/.cache/pypoetry"
    - "$HOME/.cache/pre-commit"

install:
  - pip install pip -U
  - wget https://raw.githubusercontent.com/sdispater/poetry/master/get-poetry.py
  - python get-poetry.py --preview -y
  - source $HOME/.poetry/env
  - poetry install -v
  - python -m spacy download en

script: pytest -q tests/

jobs:
  include:
    - python: "3.6"
    - python: "3.7"
      dist: xenial
    - python: "3.7.1"
      dist: xenial

    - stage: Black
      python: "3.6"
      install:
        - pip install pre-commit
        - pre-commit install-hooks
      script:
        - pre-commit run --all-files

    - stage: mypy
      python: "3.6"
      script:
        - mypy spacy_readability --ignore-missing-imports

    # - stage: pylint
    #   python: "3.6"
    #   script:
    #     - pylint spacy_readability